@layer base {
	@font-face {
		font-family: 'Inter';
		src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
	}

	* {
		box-sizing: border-box;
	}

	html {
		box-sizing: border-box;
		-webkit-text-size-adjust: none;
	}

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	body {
		margin: 0;
		padding: 0;
		font-size: var(--font-md);
	}

	p {
		font-family: 'Inter', sans-serif;
		font-variation-settings: 'wght' 400;
	}

	h1,
	h2 {
		font-family: 'Inter', sans-serif;
		font-variation-settings:
			'wght' 600,
			'slnt' -3;
	}

	h1 {
		font-size: var(--font-2xl);
		color: var(--green-700);
	}

	h2 {
		font-size: var(--font-xl);
	}

	h3 {
		font-size: var(--font-lg);
	}

	a {
		font-size: var(--font-sm);
		color: var(--green-600);
		text-decoration: none;
		&:hover {
			color: var(--green-700);
			text-decoration: underline;
		}
	}
}
