:root {
	/* media sizes (copied from syntax ) */
	@custom-media --below_small (width < 400px);
	@custom-media --below_med (width < 700px);
	@custom-media --below_large (width < 900px);
	@custom-media --below_xlarge (width < 1200px);

	@custom-media --above_small (width >400px);
	@custom-media --above_med (width > 700px);
	@custom-media --above_large (width > 900px);
	@custom-media --above_xlarge (width > 1200px);

	/* colors */
	--green: var(--green-500);
	--green-50: oklch(97% 0.048 151);
	--green-100: oklch(92.7% 0.065 151);
	--green-200: oklch(88.5% 0.064 151.2);
	--green-300: oklch(84.5% 0.066 150.3);
	--green-400: oklch(80.2% 0.066 151);
	--green-500: oklch(76% 0.069 151.3);
	--green-600: oklch(65.1% 0.095 150.8);
	--green-700: oklch(50.2% 0.118 151.2);
	--green-800: oklch(34.8% 0.094 150.8);
	--green-900: oklch(20.9% 0.056 151.4);

	--blue: var(--blue-500);
	--blue-50: oklch(97.1% 0.034 201.1);
	--blue-100: oklch(93.1% 0.081 201.6);
	--blue-200: oklch(89% 0.124 202.2);
	--blue-300: oklch(85.1% 0.124 202.2);
	--blue-400: oklch(80.9% 0.124 202.2);
	--blue-500: oklch(77.1% 0.128 201.9);
	--blue-600: oklch(65.7% 0.112 202.4);
	--blue-700: oklch(50.9% 0.087 202.2);
	--blue-800: oklch(34.9% 0.059 203.2);
	--blue-900: oklch(21% 0.036 201.2);

	--red: var(--red-500);
	--red-50: oklch(97.1% 0.014 22.8);
	--red-100: oklch(90.8% 0.047 21.3);
	--red-200: oklch(84.8% 0.083 22.6);
	--red-300: oklch(78.6% 0.124 22.1);
	--red-400: oklch(72.5% 0.15 22.4);
	--red-500: oklch(66.4% 0.154 22.2);
	--red-600: oklch(57.3% 0.178 22.2);
	--red-700: oklch(45% 0.181 22.2);
	--red-800: oklch(32.2% 0.13 22.2);
	--red-900: oklch(21% 0.085 22.4);

	--yellow: var(--yellow-500);
	--yellow-50: oklch(97% 0.09 103.9);
	--yellow-100: oklch(94.9% 0.15 104);
	--yellow-200: oklch(92.6% 0.15 103.6);
	--yellow-300: oklch(90.4% 0.151 104.1);
	--yellow-400: oklch(88.1% 0.15 103.7);
	--yellow-500: oklch(85.9% 0.154 103.9);
	--yellow-600: oklch(73% 0.154 103.6);
	--yellow-700: oklch(55.4% 0.117 103.6);
	--yellow-800: oklch(37.3% 0.079 103.7);
	--yellow-900: oklch(21% 0.044 103.5);

	--gray-50: oklch(96.8% 0.016 286.1);
	--gray-100: oklch(81.6% 0.024 285.9);
	--gray-200: oklch(66.4% 0.024 282.9);
	--gray-300: oklch(50.9% 0.025 285.5);
	--gray-400: oklch(35.7% 0.022 281.7);
	--gray-500: oklch(20.4% 0.02 280);
	--gray-600: oklch(16.3% 0.006 107.1);
	--gray-700: oklch(10.6% 0.022 101.8);
	--gray-800: oklch(4.2% 0.017 29.2);
	--gray-900: oklch(0% 0 171);

	--white: var(--gray-50);
	--black: var(--gray-500);
	--primary-dark: var(--green-800);
	--primary-light: var(--green-200);

	/* gradients */
	--green-to-blue: linear-gradient(
		to right in oklch,
		oklch(76% 0.069 151.3) 0%,
		oklch(65.7% 0.112 202.4) 100%
	);

	/* font sizes */
	--font-xs: clamp(0.625rem, 0.336vw + 0.41rem, 0.813rem);
	--font-sm: clamp(0.75rem, 0.336vw + 0.535rem, 0.938rem);
	--font-md: clamp(1rem, 0.447vw + 0.713rem, 1.25rem);
	--font-lg: clamp(1.5rem, 0.336vw + 1.347rem, 1.75rem);
	--font-xl: clamp(2.25rem, 0.224vw + 1.982rem, 2.45rem);
	--font-2xl: clamp(2.25rem, 0.447vw + 1.963rem, 2.5rem);
}
