@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

.gradient-heading-red {
	@apply bg-gradient-to-br from-red-500 to-yellow-500 box-decoration-clone bg-clip-text text-transparent;
}

.gradient-heading-blue {
	@apply bg-gradient-to-br from-blue-500 to-cyan-300 box-decoration-clone bg-clip-text text-transparent;
}

.gradient-heading-pink {
	@apply bg-gradient-to-br from-pink-500 to-violet-500 box-decoration-clone bg-clip-text text-transparent;
}
